O2 data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
path="/Users/td/Data/O2/O2TV/O2TV_reboots_SID_DID.csv"
data = pd.read_csv(path,sep='|')#,parse_dates=["@timestamp"],index_col=["@timestamp"])

In [14]:
data.head()

            @timestamp subscription             device
0  2020-03-11 13:19:17          NaN  e4:27:71:82:54:13
1  2020-03-11 13:19:17   8040730089  e4:27:71:82:37:b6
2  2020-03-11 13:19:15   8000585456  e4:27:71:81:5e:57
3  2020-03-11 13:19:14          NaN  e4:27:71:64:1f:55
4  2020-03-11 13:19:14   8000736258  e4:27:71:81:18:d9

In [25]:
data[data.device.isin(['e4:27:71:82:54:13'])]

              @timestamp subscription             device
0    2020-03-11 13:19:17          NaN  e4:27:71:82:54:13
80   2020-03-11 13:16:35          NaN  e4:27:71:82:54:13
249  2020-03-11 13:12:05          NaN  e4:27:71:82:54:13

In [45]:
A=pd.unique(data.device)
A

array(['e4:27:71:82:54:13', 'e4:27:71:82:37:b6', 'e4:27:71:81:5e:57', ...,
       'e4:27:71:80:ab:1f', 'e4:27:71:81:31:72', 'e4:27:71:80:e2:0d'],
      dtype=object)

In [51]:
s=series(A)

NameError: name 'series' is not defined

In [52]:
data = np.random.randint(0, 7, size=50)

In [53]:
data

array([4, 3, 4, 3, 0, 3, 5, 6, 6, 2, 4, 3, 3, 3, 5, 5, 2, 2, 6, 6, 3, 2,
       2, 6, 3, 1, 3, 4, 1, 6, 3, 1, 6, 1, 0, 2, 4, 3, 4, 2, 2, 6, 2, 4,
       1, 2, 3, 0, 6, 0])

In [54]:
s = Series(data)

NameError: name 'Series' is not defined