# Pandas Essentials

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Creating a Series by passing list of values

In [ ]:
s=pd.Series([1,2,3,'text',3.2])
s

Creating a Series by a Python range()

In [ ]:
s=pd.Series(range(20))
s=pd.Series(range(2,11))
s=pd.Series(range(0,10,2))
s

### Creating a DataFrame by passing Numpy array with date index and labeled colunms

creating a time series, which become index of the DataFrame

In [ ]:
rows=6
columns=4

dates=pd.date_range('20200130',periods=rows)
dates

creating a DataFrame

In [ ]:
df = pd.DataFrame(np.random.randn(rows, columns), index=dates, columns=list(['America','Europe','Australia','Africa']))
#df=pd.DataFrame(np.random.randn(6,4),index=dates)#,columns=list('ABCD'))
print(df)

function list

In [ ]:
list('ABC')

In [ ]:
list(['deokd','dede','dede'])

In [ ]:
list('1:4')

In [ ]:
list(range(4))

function random

In [ ]:
np.random.randn(3,2)

### Creating a DataFrame by passing dict of objects taht can be converted to series-like

In [ ]:
df2=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20200108'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(["test","train","test","train"]),
                 'F':'foo'})

In [ ]:
df2

In [ ]:
df2.dtypes

In [ ]:
df2.index

### Creating s DataFrame by a list

In [68]:
# Python code demonstrate creating 
# DataFrame from dict narray / lists 
# By default addresses. 

import pandas as pd 

# intialise data of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 
        'Age':[20, 21, 19, 18]} 

# Create DataFrame 
df = pd.DataFrame(data) 

# Print the output. 
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [62]:
# Python code demonstrate creating 
# pandas DataFrame with indexed by 

# DataFrame using arrays. 
import pandas as pd 

# initialise data of lists. 
data = {'Name':['Tom', 'Jack', 'nick', 'juli'], 
        'marks':[99, 98, 95, 90]} 

# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['rank1', 'rank2', 'rank3', 'rank4']) 

# print the data 
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [ ]:
# Python code demonstrate how to create 
# Pandas DataFrame by lists of dicts. 
import pandas as pd 

# Initialise data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, 
        {'a':10, 'b': 20, 'c': 30}] 

# Creates DataFrame. 
df = pd.DataFrame(data) 

# Print the data 
df

In [58]:
# Python code demonstrate to create a 
# Pandas DataFrame with lists of 
# dictionaries as well as 
# row and column indexes. 

import pandas as pd 

# Intitialise lists data. 
data = [{'a': 1, 'b': 2}, 
        {'a': 5, 'b': 10, 'c': 20}] 

# With two column indices, values same 
# as dictionary keys 
df1 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b']) 

# With two column indices with 
# one index with other name 
df2 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b1']) 

# print for first data frame 
print (df1, "\n") 

# Print for second DataFrame. 
print (df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

In [59]:
# Python program to demonstrate creating 
# pandas Datadaframe from lists using zip. 
	
import pandas as pd 
	
# List1 
Name = ['tom', 'krish', 'nick', 'juli'] 
	
# List2 
Age = [25, 30, 26, 22] 
	
# get the list of tuples from two lists. 
# and merge them by using zip(). 
list_of_tuples = list(zip(Name, Age)) 
	
# Assign data to tuples. 
list_of_tuples 


# Converting lists of tuples into 
# pandas Dataframe. 
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age']) 

# Print data. 
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [ ]:
# Python code demonstrate creating 
# Pandas Dataframe from Dicts of series. 

import pandas as pd 

# Intialise data to Dicts of series. 
d = {'one' : pd.Series([10, 20, 30, 40], index =['a', 'b', 'c', 'd']),
     'two' : pd.Series([10, 20, 30, 40], index =['a', 'b', 'c', 'd'])} 


# creates Dataframe. 
df = pd.DataFrame(d) 

# print the data. 
df

In [69]:
#df = {'one' : pd.Series([10, 20, 30, 40])}
df = {'one' : pd.Series(range(5))}
df = pd.DataFrame({'one' : pd.Series(range(5))}) 
df = pd.DataFrame({'one' : list(range(10,0,-1))})
df = pd.DataFrame({'one' : np.zeros(5)}) 
df = pd.DataFrame({'one' : np.zeros(5)},index=[2,3,4,5,6]) 
df = pd.DataFrame({'one' : np.zeros(5)},index=list(range(5))) 
df = pd.DataFrame({'one' : np.arange(5)}) 
df

   one
0    0
1    1
2    2
3    3
4    4

## Viewing Data

In [ ]:
df.head()

In [ ]:
df.tail(4)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.describe()

transposing data

In [ ]:
df.T

sorting by an axis

In [ ]:
df.sort_index(axis=1,ascending=False)

sorting by values

In [ ]:
df.sort_values(by='Europe',ascending=True)

## Selection

### Getting

Selecting a single column, which yields a Series, equivalent to df.A:

In [ ]:
df.Europe
df['Europe']

Selecting via [], which slices the rows.

In [ ]:
df[0:3]

In [ ]:
df['20200131':'20200201']

### Selection by lable

In [ ]:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-label]

For getting a cross section using a label:

In [ ]:
df.loc[dates[0]]

In [ ]:
dates[0:3]

Selecting on a multi-axis by label:

In [ ]:
df.loc[:,['America','Europe']]

Showing label slicing, both endpoints are included

In [ ]:
df.loc[df.index[0:2],['America','Europe']]

In [ ]:
df.loc['20200130':'20200201',['Europe','Africa']]

In [ ]:
df.loc['20200130',['Europe','Africa']]

for getting a scalar value:

In [ ]:
df.loc[dates[0],'Europe']

optional method

In [ ]:
df.at[dates[0],'Europe']

### Selection by position

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[0:5,1:3]

In [ ]:
df.iloc[[1,2,4],[0,2]]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.iloc[1:4,:]

For getting a value explicitly:

In [ ]:
df.iloc[1,3]

other method

In [ ]:
df.iat[1,3]

## Boolean indexing

In [ ]:
df[df.Europe>0]

In [ ]:
df[df>0]

Using the isin() method for filtering:

renamimg of columns

In [ ]:
df2.rename(columns={'America':'A','Europe':'B','Australia':'C','Africa':'D'})

In [ ]:
df2['E']=['one','two','three','three','one','two']

In [ ]:
df2

In [ ]:
df2[df2.E.isin(['one','two'])]

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
piece=df[3:7]

In [ ]:
pieces

In [ ]:
pd.concat(pieces)

In [ ]:
E=pd.DataFrame(np.random.randint(1,8,10))#,columns=['d'])

In [ ]:
E

In [ ]:
pd.concat([df,E], join="inner")