# Pandas Essentials

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Creating a Series by passing list of values

In [2]:
s=pd.Series([1,2,3,'text',3.2])
s

0       1
1       2
2       3
3    text
4     3.2
dtype: object

### Creating a DataFrame by passing Numpy array with date index and labeled colunms

creating a time series, which become index of the DataFrame

In [3]:
rows=6
columns=4

dates=pd.date_range('20200130',periods=rows)
dates

DatetimeIndex(['2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
               '2020-02-03', '2020-02-04'],
              dtype='datetime64[ns]', freq='D')

creating a DataFrame

In [4]:
df = pd.DataFrame(np.random.randn(rows, columns), index=dates, columns=list(['America','Europe','Australia','Africa']))
#df=pd.DataFrame(np.random.randn(6,4),index=dates)#,columns=list('ABCD'))
print(df)

             America    Europe  Australia    Africa
2020-01-30  2.005483 -0.032540   0.065560  1.417438
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-01  0.310335  0.238637   1.243742  0.414904
2020-02-02  0.127847 -0.174872  -2.134353  1.069009
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783
2020-02-04 -0.299685 -0.873846  -0.278120 -0.250204

function list

In [5]:
list('ABC')

['A', 'B', 'C']

In [6]:
list(['deokd','dede','dede'])

['deokd', 'dede', 'dede']

In [7]:
list('1:4')

['1', ':', '4']

In [8]:
list(range(4))

[0, 1, 2, 3]

function random

In [9]:
np.random.randn(3,2)

array([[-0.21019397, -2.17074182],
       [-0.03809083,  1.02169528],
       [ 0.54287006,  1.0208656 ]])

### Creating a DataFrame by passing dict of objects taht can be converted to series-like

In [10]:
df2=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20200108'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(["test","train","test","train"]),
                 'F':'foo'})

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2020-01-08  1.0  3   test  foo
1  1.0 2020-01-08  1.0  3  train  foo
2  1.0 2020-01-08  1.0  3   test  foo
3  1.0 2020-01-08  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

## Viewing Data

In [14]:
df.head()

             America    Europe  Australia    Africa
2020-01-30  2.005483 -0.032540   0.065560  1.417438
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-01  0.310335  0.238637   1.243742  0.414904
2020-02-02  0.127847 -0.174872  -2.134353  1.069009
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783

In [15]:
df.tail(4)

             America    Europe  Australia    Africa
2020-02-01  0.310335  0.238637   1.243742  0.414904
2020-02-02  0.127847 -0.174872  -2.134353  1.069009
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783
2020-02-04 -0.299685 -0.873846  -0.278120 -0.250204

In [16]:
df.index

DatetimeIndex(['2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
               '2020-02-03', '2020-02-04'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['America', 'Europe', 'Australia', 'Africa'], dtype='object')

In [18]:
df.describe()

        America    Europe  Australia    Africa
count  6.000000  6.000000   6.000000  6.000000
mean   0.514721  0.215857  -0.362306  0.205488
std    1.072322  0.769769   1.101338  0.913409
min   -0.682963 -0.873846  -2.134353 -0.836783
25%   -0.192802 -0.139289  -0.644390 -0.498627
50%    0.219091  0.103048  -0.297666  0.082350
75%    1.298066  0.689410  -0.020360  0.905483
max    2.005483  1.298094   1.243742  1.417438

transposing data

In [19]:
df.T

,2020-01-30,2020-01-31,2020-02-01,2020-02-02,2020-02-03,2020-02-04
America,2.005483,1.627309,0.310335,0.127847,-0.682963,-0.299685
Europe,-0.032540,0.839668,0.238637,-0.174872,1.298094,-0.873846
Australia,0.065560,-0.753450,1.243742,-2.134353,-0.317211,-0.278120
Africa,1.417438,-0.581434,0.414904,1.069009,-0.836783,-0.250204

sorting by an axis

In [20]:
df.sort_index(axis=1,ascending=False)

              Europe  Australia   America    Africa
2020-01-30 -0.032540   0.065560  2.005483  1.417438
2020-01-31  0.839668  -0.753450  1.627309 -0.581434
2020-02-01  0.238637   1.243742  0.310335  0.414904
2020-02-02 -0.174872  -2.134353  0.127847  1.069009
2020-02-03  1.298094  -0.317211 -0.682963 -0.836783
2020-02-04 -0.873846  -0.278120 -0.299685 -0.250204

sorting by values

In [21]:
df.sort_values(by='Europe',ascending=True)

             America    Europe  Australia    Africa
2020-02-04 -0.299685 -0.873846  -0.278120 -0.250204
2020-02-02  0.127847 -0.174872  -2.134353  1.069009
2020-01-30  2.005483 -0.032540   0.065560  1.417438
2020-02-01  0.310335  0.238637   1.243742  0.414904
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783

## Selection

### Getting

Selecting a single column, which yields a Series, equivalent to df.A:

In [22]:
df.Europe
df['Europe']

2020-01-30   -0.032540
2020-01-31    0.839668
2020-02-01    0.238637
2020-02-02   -0.174872
2020-02-03    1.298094
2020-02-04   -0.873846
Freq: D, Name: Europe, dtype: float64

Selecting via [], which slices the rows.

In [23]:
df[0:3]

             America    Europe  Australia    Africa
2020-01-30  2.005483 -0.032540   0.065560  1.417438
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-01  0.310335  0.238637   1.243742  0.414904

In [24]:
df['20200131':'20200201']

             America    Europe  Australia    Africa
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-01  0.310335  0.238637   1.243742  0.414904

### Selection by lable

In [25]:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-label]

SyntaxError: invalid syntax (<ipython-input-25-625b140f7418>, line 1)

For getting a cross section using a label:

In [26]:
df.loc[dates[0]]

America      2.005483
Europe      -0.032540
Australia    0.065560
Africa       1.417438
Name: 2020-01-30 00:00:00, dtype: float64

In [27]:
dates[0:3]

DatetimeIndex(['2020-01-30', '2020-01-31', '2020-02-01'], dtype='datetime64[ns]', freq='D')

Selecting on a multi-axis by label:

In [28]:
df.loc[:,['America','Europe']]

             America    Europe
2020-01-30  2.005483 -0.032540
2020-01-31  1.627309  0.839668
2020-02-01  0.310335  0.238637
2020-02-02  0.127847 -0.174872
2020-02-03 -0.682963  1.298094
2020-02-04 -0.299685 -0.873846

Showing label slicing, both endpoints are included

In [29]:
df.loc[df.index[0:2],['America','Europe']]

             America    Europe
2020-01-30  2.005483 -0.032540
2020-01-31  1.627309  0.839668

In [30]:
df.loc['20200130':'20200201',['Europe','Africa']]

              Europe    Africa
2020-01-30 -0.032540  1.417438
2020-01-31  0.839668 -0.581434
2020-02-01  0.238637  0.414904

In [31]:
df.loc['20200130',['Europe','Africa']]

Europe   -0.032540
Africa    1.417438
Name: 2020-01-30 00:00:00, dtype: float64

for getting a scalar value:

In [32]:
df.loc[dates[0],'Europe']

-0.03254041153787867

optional method

In [33]:
df.at[dates[0],'Europe']

-0.03254041153787867

### Selection by position

In [34]:
df.iloc[3]

America      0.127847
Europe      -0.174872
Australia   -2.134353
Africa       1.069009
Name: 2020-02-02 00:00:00, dtype: float64

In [35]:
df.iloc[0:5,1:3]

              Europe  Australia
2020-01-30 -0.032540   0.065560
2020-01-31  0.839668  -0.753450
2020-02-01  0.238637   1.243742
2020-02-02 -0.174872  -2.134353
2020-02-03  1.298094  -0.317211

In [36]:
df.iloc[[1,2,4],[0,2]]

             America  Australia
2020-01-31  1.627309  -0.753450
2020-02-01  0.310335   1.243742
2020-02-03 -0.682963  -0.317211

In [37]:
df.iloc[:,1:3]

              Europe  Australia
2020-01-30 -0.032540   0.065560
2020-01-31  0.839668  -0.753450
2020-02-01  0.238637   1.243742
2020-02-02 -0.174872  -2.134353
2020-02-03  1.298094  -0.317211
2020-02-04 -0.873846  -0.278120

In [38]:
df.iloc[1:4,:]

             America    Europe  Australia    Africa
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-01  0.310335  0.238637   1.243742  0.414904
2020-02-02  0.127847 -0.174872  -2.134353  1.069009

For getting a value explicitly:

In [39]:
df.iloc[1,3]

-0.581434214328042

other method

In [40]:
df.iat[1,3]

-0.581434214328042

## Boolean indexing

In [41]:
df[df.Europe>0]

             America    Europe  Australia    Africa
2020-01-31  1.627309  0.839668  -0.753450 -0.581434
2020-02-01  0.310335  0.238637   1.243742  0.414904
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783

In [67]:
df[df>0]

TypeError: 'list' object is not callable

Using the isin() method for filtering:

renamimg of columns

In [44]:
df2.rename(columns={'America':'A','Europe':'B','Australia':'C','Africa':'D'})

                   A         B         C         D
2020-01-30  2.005483 -0.032540  0.065560  1.417438
2020-01-31  1.627309  0.839668 -0.753450 -0.581434
2020-02-01  0.310335  0.238637  1.243742  0.414904
2020-02-02  0.127847 -0.174872 -2.134353  1.069009
2020-02-03 -0.682963  1.298094 -0.317211 -0.836783
2020-02-04 -0.299685 -0.873846 -0.278120 -0.250204

In [45]:
df2['E']=['one','two','three','three','one','two']

In [46]:
df2

             America    Europe  Australia    Africa      E
2020-01-30  2.005483 -0.032540   0.065560  1.417438    one
2020-01-31  1.627309  0.839668  -0.753450 -0.581434    two
2020-02-01  0.310335  0.238637   1.243742  0.414904  three
2020-02-02  0.127847 -0.174872  -2.134353  1.069009  three
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783    one
2020-02-04 -0.299685 -0.873846  -0.278120 -0.250204    two

In [47]:
df2[df2.E.isin(['one','two'])]

             America    Europe  Australia    Africa    E
2020-01-30  2.005483 -0.032540   0.065560  1.417438  one
2020-01-31  1.627309  0.839668  -0.753450 -0.581434  two
2020-02-03 -0.682963  1.298094  -0.317211 -0.836783  one
2020-02-04 -0.299685 -0.873846  -0.278120 -0.250204  two

In [74]:
df = pd.DataFrame(np.random.randn(10, 4))

In [75]:
df

TypeError: 'list' object is not callable

,0,1,2,3
0,-0.479035,0.439007,-1.150271,1.140396
1,-0.137971,1.155219,0.502983,-0.108225
2,0.082712,-0.251219,-1.311959,-1.386126
3,-0.362388,0.264833,0.415021,0.331791
4,1.167063,-1.644976,0.752157,0.324794
5,-0.110197,0.177318,0.836205,1.182655
6,-0.505961,-0.825230,0.248880,-2.238127
7,-1.492177,-2.514733,0.088522,0.357432
8,-1.136370,0.694399,-0.387013,2.135848
9,-0.958458,-0.692992,0.395158,1.127379

In [76]:
pieces = [df[:3], df[3:7], df[7:]]

In [77]:
piece=df[3:7]

In [78]:
pieces

TypeError: 'list' object is not callable

In [53]:
pd.concat(pieces)

          0         1         2         3
0 -0.468824 -0.200795 -0.116080  0.338311
1 -0.121298 -0.474065  0.158296  0.101093
2 -0.504461  0.324258 -0.861524 -0.512526
3 -0.973142 -0.377929  0.518781  0.261354
4 -0.587542  0.568847  1.100052  0.239160
5  0.579605 -1.602152  1.389518 -0.943959
6  0.001919  1.220986  0.705832 -1.609327
7  0.707690  0.155509 -0.471446 -0.683143
8  1.226613  2.303997  0.285128 -0.661343
9 -0.866470 -0.438735  2.371095 -0.532759

In [54]:
E=pd.DataFrame(np.random.randint(1,8,10))#,columns=['d'])

In [55]:
E

   0
0  6
1  5
2  1
3  1
4  7
5  6
6  7
7  3
8  3
9  5

In [56]:
pd.concat([df,E], join="inner")

          0
0 -0.468824
1 -0.121298
2 -0.504461
3 -0.973142
4 -0.587542
5  0.579605
6  0.001919
7  0.707690
8  1.226613
9 -0.866470
0  6.000000
1  5.000000
2  1.000000
3  1.000000
4  7.000000
5  6.000000
6  7.000000
7  3.000000
8  3.000000
9  5.000000